.careers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80vh;
  /*border: 1px solid red;*/
  margin: auto;
  width: 80vw;
  height: 60vh;
  padding: 5px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-cardboard-image {
  width: 90%;
  height: 200px;
  /*border: 1px solid red;*/
}

.job-item-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 90%;
  height: 90%;
}
.job-item {
  border: 1px solid black;
  margin: 2px;
  height: 40%;
  width: 40%;
  padding: 6px;
}
.job-name {
  font-family: 'Helvetica';
  font-size: 18px;
  font-weight: 400;
  padding: 4px;
  /*border: 1px solid red;*/
  margin: auto;
}
.job-description {
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 200;
  padding: 4px;
  /*border: 1px solid red;*/
}
