.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
  margin: 5px;
  background-color: white;
}
.content-text {
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 1px solid black;
  padding: 4px;
}
.hero-image {
  width: 80%;
  height: 400px;
  text-align: center;
  border-top: 0.2px solid black;
}
.play-button-text-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 24px;
  margin: 40px;
}

.rounded-button {
  border-radius: 120px;
  border-style: none;
  background-color: 0.1px transparent;
  height: 24px;
  width: 24px;
  text-align: center;
  margin: 8px;
}

.button-text {
  font-family: 'Helvetica';
  color: black;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  margin: 8px;
  padding: 4px;
  border-radius: 0px;
  border: none;
  /*border-bottom: 0.1px solid red;*/
}

.hero-cardboard-image {
  width: 300px;
  height: 300px;
  margin-top: 30px;
}

.rounded-button-fixed {
  position: fixed;
  top: 600px;
  left: 1325px;
  border-radius: 120px;
  border-style: none;
  background-color: 0.1px transparent;
  height: 50px;
  width: 50px;
  text-align: center;
}
.icon-size {
  width: 100%;
}
.caption-container {
  background-color: #393e46;
  padding: 36px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arcnile-caption {
  font-family: 'Helvetica';
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  color: white;
  margin: auto;
}

.side-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*border: 1px solid red;*/
  margin: 50px;
  background-color: white;
}

.process-heading {
  font-family: 'Helvetica';
  font-weight: 600;
  font-size: 24px;
  margin: auto;
  color: #1e1e1e;
}

.process-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  margin: auto;
  flex-wrap: wrap;
  flex-grow: 0;
  /*border: 1px solid blue;*/
  /*padding: 16px;*/
  /*opacity: 0.1;*/
}

.process-card {
  padding: 2px;
  /*background-color: gray;*/
  /*border: 1px solid black;*/
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: top;
  max-width: 277px;
}

.process-number {
  font-family: 'Helvetica';
  font-size: 120px;
  font-weight: 500;
  color: #929aab;
  /*border: 1px solid green;*/
  margin-top: -10px;
  margin-right: -10px;
}

.process-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.1px solid #929aab;
  padding: 0px 5px 0px 5px;
  background-color: rgba(146, 154, 171, 0.1);
}

.process-name-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*border: 1px solid black;*/
}
.process-name {
  font-family: 'Helvetica';
  font-weight: 600;
  font-size: 20px;
  color: #1e1e1e;
}

.process-description {
  /*border: 1px solid red;*/
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 24;
  text-align: left;
  color: #1e1e1e;
  margin: auto;
}

.slick-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
  margin: 5px;
  flex-wrap: wrap;
  flex-grow: 0;
  margin: auto;
  background-color: rgba(146, 154, 171, 0.1);
}
.step-image {
  height: 250px;
  width: 250px;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
  margin: 5px;
  background-color: white;
}

.projects-heading-subheading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*border: 1px solid red;*/
  margin: 50px;
}

.projects-heading {
  font-family: 'Helvetica';
  font-weight: 600;
  font-size: 24px;
  margin: auto;
  color: #1e1e1e;
  /*margin: auto;*/
}
.projects-side-heading {
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 18px;
  margin: auto;
  color: #929aab;
  /*margin: auto;*/
}
.project-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
  margin: 5px;
  flex-wrap: wrap;
  flex-grow: 0;
  margin: auto;
  background-color: rgba(146, 154, 171, 0.1);
}
.project-image {
  height: 390px;
  width: 390px;
  /*border: 1px solid green;*/
  margin: auto;
  position: relative;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
  margin: 50px;
  background-color: white;
}
.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  /*border: 1px solid red;*/
  flex-wrap: wrap;
  flex-grow: 0;
  margin: 50px;
  /*background-color: rgba(146, 154, 171, 0.1);*/
}
.review-card {
  padding: 12px;
  background-color: #f7f7f7;
  border: 0.1px solid #393e46;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: top;
  max-width: 277px;
  border-radius: 8px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*border-left: 2px solid rgba(57, 62, 70, 0.5);*/
}

.rounded-text {
  border-radius: 120px;
  border-style: none;
  background-color: 0.1px transparent;
  height: 26px;
  width: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.profile-first-letter {
  color: white;
  border-radius: 120px;
  font-family: 'Helvetica';
  font-weight: 500;
}
.orange-bg {
  background-color: #f1a45c;
}
.grey-bg {
  background-color: #9b9b9b;
}
.violet-bg {
  background-color: #acaaff;
}
.blue-bg {
  background-color: #8acbff;
}
.profile-name {
  color: 000000;
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 200;
}
.ratings-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /*border: 1px solid black;*/
  padding: 4px;
}

.rating-description {
  color: 000000;
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 200;
  /*border: 1px solid red;*/
  padding: 4px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-wrap: wrap;
  flex-grow: 0;
  margin: auto;
  background-color: rgba(57, 62, 70, 1);
  /*border: 1px solid red;*/
}
.address-quicklinks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  flex-wrap: wrap;
  flex-grow: 0;
  /*border: 1px solid blue;*/
  /*padding: 16px;*/
  /*opacity: 0.1;*/
}
.address-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 0px;
  max-width: 40%;
  max-height: 50%;
  /*border: 1px solid rgba(217, 217, 217, 1);*/
}
.address-title {
  color: rgba(217, 217, 217, 1);
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 600;
}
.address-detail {
  color: rgba(217, 217, 217, 1);
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 300;
}
.address-phone-number {
  color: rgba(217, 217, 217, 1);
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 300;
}

.quicklinks-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 0px;
  max-width: 40%;
  /*border: 1px solid blueviolet;*/
}
.quick-link-heading {
  color: rgba(217, 217, 217, 1);
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 600;
  /*border: 1px solid red;*/
}
.each-link-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*border: 1px solid palegreen;*/
  flex-wrap: wrap;
}
.each-link {
  border-bottom: 1px solid white;
  border-radius: 1px;
  color: rgba(217, 217, 217, 1);
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}

.footer-end-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*border: 1px solid #acaaff;*/
  margin-top: 16px;
}
.social-link-container {
  background-color: white;
  border-radius: 8px;
}

.social-link-button {
  color: rgba(217, 217, 217, 1);
  /*border: 1px solid #929aab;*/
  border: none;
  background-color: transparent;
  margin: auto;
}
.horizontal-line {
  width: 90%;
  background-color: rgba(217, 217, 217, 1);
  height: 0.01px;
  border-radius: 8px;
}
.copyright-text {
  font-family: 'Helvetica';
  font-size: 12px;
  font-weight: 300;
  margin-right: 8px;
  color: rgba(217, 217, 217, 1);
}
